@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&display=swap');
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
}

#sls {
  position: relative;
  height: 500px;
  width: 500px;
}

.hide {
  display: none;
}

.frame {
  position: absolute;
  transition: 500ms all ease;
}

.text {
  font-family: 'Baloo Thambi 2', cursive;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #535353b5;
  width: 100%;
  height: 53px;
  color: white;
  text-align: center;
}

.show {
  opacity: 1;
}

.actionctr {
  position: absolute;
  height: 350px;
  top: 73px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.actionctr button {
  background: #0000;
  border: none;
  height: 75%;
  width: 50px;
}

.actionctr button:hover {
  background: rgba(0, 0, 0, 0.25);
}

.actionctr button:active {
  background: rgba(0, 0, 0, 0.5);
}